<h1 class="m-3">Stupid Coaching</h1>
<form action="/answer" class ="col-6 m-3"  method="get">
  <label>Ask your Coach anything:</label><br>
  <%# <input type="text" name="question">
  <input type="submit" value="ask!"> %>
  <div class="input-group mt-3">
    <input type="text" class="form-control" name="question" aria-label="Question" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text bg-primary text-white" id="basic-addon2">Ask!</span>
    </div>
  </div>
</form>
